<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${APPDATA}\AltinnDesktopClient\AltinnDesktopClient.log" />
      <!--<file value="AltinnDesktopClient.log" />-->
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>

    <appender name="myLogAppender" type="log4net.Appender.RollingFileAppender" >
      <file value="${APPDATA}\AltinnDesktopClient\AltinnDesktopClient.log" />
      <!--<file value="AltinnDesktopClient.log" />-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level - %message%n" />
      </layout>
    </appender>

    <root>
      <level value="All" />
      <appender-ref ref="myLogAppender" />
    </root>

    <!--<logger name="myLog">
      <level value="Debug"></level>
      <appender-ref ref="RollingLogFileAppender" />
    </logger>-->

  </log4net>
</configuration>